In [32]:
%%capture
%run notebook.ipynb

In [33]:
X_tr = datapipe.fit_transform(X_train)
X_ts = datapipe.transform(X_test)

In [34]:
X_tr.head(3)

,age,sib_sp,parch,fare,p_class,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,1.882617,0.0,0.0,1.601981,0.0,0.0,1.0,0.0,0.0,1.0
1,0.000000,0.0,0.0,0.044700,2.0,0.0,1.0,0.0,1.0,0.0
2,-0.348153,1.0,2.0,1.161582,1.0,0.0,1.0,1.0,0.0,0.0

# Remove and Add values from P-Class

In [35]:
x_test_no_2_add_5 = X_test[X_test['P class'] != 'two']
x_test_no_2_add_5.loc[709, 'P class'] = 'five'
x_test_no_2_add_5['P class'].value_counts()

three    154
one       81
five       1
Name: P class, dtype: int64

In [36]:
datapipe.transform(x_test_no_2_add_5).p_class.value_counts()

2.0    154
0.0     81
3.0      1
Name: p_class, dtype: int64

# Remove and Add values from Embarked

In [37]:
x_test_no_q_add_z = X_test[X_test['Embarked'] != 'Q']
x_test_no_q_add_z.loc[709, 'Embarked'] = 'Z'
x_test_no_q_add_z['Embarked'].value_counts()

S    207
C     62
Z      1
Name: Embarked, dtype: int64

In [40]:
datapipe.transform(x_test_no_q_add_z).head()

,age,sib_sp,parch,fare,p_class,sex_female,sex_male,embarked_C,embarked_Q,embarked_S
0,0.000000,1.0,1.0,0.033814,2.0,0.0,1.0,0.0,0.0,0.0
1,0.113386,0.0,0.0,-0.169433,1.0,0.0,1.0,0.0,0.0,1.0
2,-0.732768,0.0,0.0,-0.279711,2.0,0.0,1.0,0.0,0.0,1.0
3,-1.809691,0.0,1.0,0.794165,1.0,1.0,0.0,0.0,0.0,1.0
4,-1.194306,1.0,0.0,-0.137668,2.0,1.0,0.0,1.0,0.0,0.0